.item__title {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
}