.menu__nav {
    display: none;
    margin: 0 auto;
    max-width: 962px;
}

@media screen and (min-width:900px){
    .menu__nav{
        display: flex;
        flex-direction: row;
        padding: 32px 8px 29px;
    }
}