.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

@media screen and (min-width:450px){
    .item{
        margin-bottom: 32px;
        border: 1px solid rgba(117, 117, 117, 0.2);
        border-radius: 2px;
    }
}

@media screen and (min-width: 1000px){
    .item{
        max-width: 470px;
    }
}