.footer__link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 23px;
    text-decoration: none;
}