.restraunts__cards{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:752px){
    .restraunts__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }
}

@media screen and (min-width: 950px){
    .restraunts__cards{
        grid-template-columns: repeat(3, 1fr);
    }
}