.footer__about{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.footer__about:nth-child(2){
    margin: 0;
}

@media screen and (min-width: 750px){
    .footer__about{
        margin-top: 0;
        margin-bottom: 25px;
    }

}