@import url(../styles/normalize.css);

@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/_footer/content_footer.css);
@import url(../blocks/content/_menu/content_menu.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__cart/header__cart.css);
@import url(../blocks/header/__auth/header__auth.css);
@import url(../blocks/header/__buttons/header__buttons.css);

@import url(../blocks/restraunts/restraunts.css);
@import url(../blocks/restraunts/__search/restraunts__search.css);
@import url(../blocks/restraunts/__title/restraunts__title.css);
@import url(../blocks/restraunts/__cards/restraunts__cards.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__subtitle/card__subtitle.css);
@import url(../blocks/card/__time/card__time.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__line/footer__line.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
@import url(../blocks/footer/__lang/footer__lang.css);
@import url(../blocks/footer/__select/footer__select.css);
@import url(../blocks/footer/__hesh/footer__hesh.css);
@import url(../blocks/footer/__hesh/_green/footer__hesh_green.css);
@import url(../blocks/footer/__icon/footer__icon.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__about/footer__about.css);
@import url(../blocks/grid/__third/grid__third.css);
@import url(../blocks/grid/__first/grid__first.css);
@import url(../blocks/grid/__second/grid__second.css);

@import url(../blocks/grid/grid.css);

@import url(../blocks/app/app.css);
@import url(../blocks/app/__ios/app__ios.css);
@import url(../blocks/app/__and/app__and.css);

@import url(../blocks/link/__text/link__text.css);
@import url(../blocks/link/__icon/link__icon.css);
@import url(../blocks/link/link.css);
@import url(../blocks/link/__card/link__card.css);

@import url(../blocks/content/_rest/content_rest.css);

@import url(../blocks/preview/preview.css);
@import url(../blocks/preview/__title/preview__title.css);
@import url(../blocks/preview/__subtitle/preview__subtitle.css);
@import url(../blocks/preview/__time/preview__time.css);

@import url(../blocks/menu/__nav/menu__nav.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__cards/menu__cards.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/menu/__links/_active/menu__links_active.css);

@import url(../blocks/box/box.css);

@import url(../blocks/item/item.css);
@import url(../blocks/item/__image/item__image.css);
@import url(../blocks/item/__title/item__title.css);
@import url(../blocks/item/__subtitle/item__subtitle.css);
@import url(../blocks/item/__info/item__info.css);
@import url(../blocks/item/__price/item__price.css);

@import url(../blocks/form-auth/form-auth.css);
@import url(../blocks/form-auth/_active/form-auth_active.css);
@import url(../blocks/form-auth/__title/form-auth__title.css);
@import url(../blocks/form-auth/__card/form-auth__card.css);