.card{
    display: flex;
    flex-direction: column;
    max-width: 308px;
    transition: all 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (min-width:500px){
    .card{
        max-width: 368px;
    }
}

@media screen and (min-width:950px){
    .card{
        max-width: 368px;
    }
}
